<main *ngIf="profileUser" [@welcomeTrigger]="state">
  <div class="container-fluid profileHeader position-sticky" #profileHeader>
    <img *ngIf="profileUser.profile.profilePicture" [src]="profileUser.profile.profilePicture.low" srcset="{{profileUser.profile.profilePicture?.big}} 1920w,
    {{profileUser.profile.profilePicture?.medium}} 1280w,
    {{profileUser.profile.profilePicture?.small}} 720w" class="fullsize-profile" [alt]="profileUser.username">
    <button class="btn btn-primary change-user-picture" tabindex="0" [@navTrigger]="!sticked" style="overflow: hidden;" *ngIf="!sticked && (user === profileUser)">
      <input class="profilePictureInput" tabindex="-1" type="file" name="profilePicture" (change)="onChange($event, 'profilePicture')"
      /> {{'change profile' | translate}}
      <span class="badge badge-primary"></span>
    </button>
  </div>
  <div class="container-fluid navUser position-sticky" #navUser>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-9 p-0">
        <label class="profile-image rounded-circle" tabindex="0" [ngClass]="{'selfUser': user === profileUser}">
          <img src="{{profileUser.profile.picture.low}}" *ngIf="!sticked" srcset="{{profileUser.profile.picture.medium}} 1024w,
            {{profileUser.profile.picture.small}} 480w" class=" img-fluid" [alt]="profileUser.username">
          <input *ngIf="user === profileUser" (change)="onChange($event, 'picture')" type="file" name="picture" class="custom-file-input d-none">
        </label>
        <nav class="nav navUser-items justify-content-around" [ngClass]="{'sticked': sticked}">
          <a class="nav-link nav-link-img" [@navTrigger]="sticked" *ngIf="sticked" href="#">
            <img src="{{profileUser.profile.picture.low}}" srcset="{{profileUser.profile.picture.medium}} 1024w,
              {{profileUser.profile.picture.small}} 480w" class="profile-image-small img-thumbnail rounded-circle" [alt]="profileUser.username">
          </a>
          <a class="nav-link p-2 text-black-50" [ngClass]="{'active': (!tabPage || tabPage === 'posts')}" (click)="changePage('posts')">
            <strong>Posts</strong>
          </a>
          <a class="nav-link p-2 text-black-50" [ngClass]="{'active': tabPage === 'following'}" (click)="changePage('following')">
            <strong>Following</strong>
          </a>
          <a class="nav-link p-2 text-black-50" [ngClass]="{'active': tabPage === 'followers'}" (click)="changePage('followers')">
            <strong>Followers</strong>
          </a>
        </nav>
      </div>
    </div>
  </div>
  <div class="container-fluid items-container">
    <div class="row">
      <div class="col-12 col-sm-4 col-lg-3 p-0">
        <div class="card p-2">
          <div class="card-body">
            <h4 class="card-title text-capitalize">{{profileUser.username}}</h4>
            <button type="button" class="btn btn-dark mb-3" (click)="subscribe(profileUser.id)" *ngIf="!profileUser.profile.stripe && profileUser.id !== user?.id">
              <ng-container *ngIf="isSubscribed(profileUser?.id); else noSubscribedTemplate">Unsubscribe</ng-container>
              <ng-template #noSubscribedTemplate>Subscribe</ng-template>
            </button>
            <div class="btn-group mb-3" role="group" *ngIf="profileUser.profile.stripe && profileUser.id !== user?.id">
              <button type="button" class="btn btn-light" (click)="openHandler()">Donate</button>
              <button type="button" class="btn btn-dark" (click)="subscribe(profileUser.id)">
                <ng-container *ngIf="isSubscribed(profileUser?.id); else noSubscribedTemplate">Unsubscribe</ng-container>
                <ng-template #noSubscribedTemplate>Subscribe</ng-template>
              </button>
            </div>
            <div class="card-text profile-info">
              <div class="profile-info-item city" *ngIf="profileUser.profile.city">
                <span class="label">City</span> {{profileUser.profile.city}}
              </div>
              <div class="profile-info-item country" *ngIf="profileUser.profile.country">
                <span class="label">Country</span> {{profileUser.profile.country}}
              </div>
              <div class="profile-info-item birth-date" *ngIf="profileUser.profile.birth_date">
                <span class="label">birthday date</span> {{profileUser.profile.birth_date | date:'yyyy-MM-dd' }}
              </div>
              <div class="profile-info-item gender" *ngIf="profileUser.profile.gender && profileUser.profile.gender !== 'Undefined'">
                <span class="label">gender</span> {{profileUser.profile.gender}}
              </div>
              <div class="profile-info-item mobile-number" *ngIf="profileUser.profile.phone">
                <span class="label">phone number</span> {{profileUser.profile.phone}}
              </div>
              <div class="profile-info-item hobbies" *ngIf="profileUser.profile.hobbies">
                <span class="label">hobbies</span> {{profileUser.profile.hobbies}}
              </div>
              <!-- {{profileUser.profile.city}} {{profileUser.profile.country}} {{profileUser.profile.birth_date}} {{profileUser.profile.gender}}
              {{profileUser.profile.phone}} {{profileUser.profile.hobbies}} {{profileUser.profile.website}} {{profileUser.profile.facebook}}
              {{profileUser.profile.twitter}} {{profileUser.profile.google}} {{profileUser.profile.stripe}} -->
            </div>
          </div>
        </div>
      </div>
      <p class="col-10 offset-1 col-sm-5 col-lg-6 p-0" *ngIf="!tabPage || tabPage === 'posts'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ad eum possimus tempore impedit enim placeat repellat, laudantium
        excepturi aut quidem officiis asperiores dignissimos facere officia consequuntur? Libero, vel itaque? Laborum consectetur
        nostrum aspernatur, eaque necessitatibus numquam culpa eius nulla atque? Et, alias, aut libero itaque maxime quidem
        voluptas voluptates magnam obcaecati ratione inventore tempora molestiae incidunt! Id, eos eaque. Itaque, eos autem
        iste provident eligendi unde saepe beatae quidem, maxime officia, tempore placeat corrupti soluta id ad adipisci
        eum culpa! Repellendus minus placeat dignissimos possimus nam? Odio doloribus iusto aliquid, doloremque sed ullam
        assumenda atque soluta! Ullam veritatis amet esse harum soluta voluptates est voluptas, error cum facere voluptate
        accusantium eveniet molestias officia, incidunt minus ut? Alias ad consectetur dolores? Odio, fugiat. Reiciendis
        ipsa assumenda itaque totam, ad eum, alias recusandae sit libero officia iste magni. Architecto ea repellendus aperiam
        eos. Dolore ea adipisci quibusdam modi. Numquam, ipsum. Exercitationem ab, id porro at quod neque autem provident
        explicabo maxime ea sunt dicta pariatur, deserunt placeat, excepturi aspernatur omnis tempora illum facilis architecto
        nesciunt nostrum suscipit? Reiciendis! Sapiente deleniti, aperiam recusandae voluptas quam ipsam doloribus sunt nesciunt
        fugiat, totam explicabo possimus, dolorem enim voluptatibus. Iure cum, illum amet sed eius animi praesentium cumque
        dolore corrupti distinctio sequi? Illo, dicta obcaecati unde laboriosam ipsum esse facere ipsam aliquam sapiente
        quasi assumenda nulla, voluptatem quia? Commodi fugiat tenetur beatae tempora saepe, dignissimos sunt blanditiis
        magni, hic necessitatibus alias officiis!
      </p>
      <p *ngIf="tabPage === 'followers'">
          {{ProfileSubscribers | json}}
      </p>
      <p *ngIf="tabPage === 'following'">
          {{ProfileSubscribeds | json}}
      </p>
    </div>
  </div>
</main>
